# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment
.env
.venv
venv/
ENV/
.python-version

# Tests
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytest_cache/
cover/

# SQLite database files
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# Logs
*.log

# Editors
.vscode/
.idea/
*.swp
*.swo
*~

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Dependency directories
node_modules/
jspm_packages/

# Jupyter Notebook
.ipynb_checkpoints 